# Ignoring files according to https://microchipdeveloper.com/mplabx:version-control-working-with
**/*.X/.generated_files/**
**/*.X/build/**
**/*.X/dist/**
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*
**/*.X/nbproject/private/**


# more unnecessary files
*.log
*.log.inx
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/**
nbproject/private/**
nbproject/Package-*.bash
build/**
nbbuild/**
dist/**
nbdist/**
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/*
*.map
PVDFboard_3.0.X/.generated_files/flags/default/2df9a73862607070f08f8c1dd638774e3ce0b7d3
