# Ignoring files according to https://microchipdeveloper.com/mplabx:version-control-working-with
/PVDFboard_2.7.X/.generated_files/
/PVDFboard_2.7.X/build/
/PVDFboard_2.7.X/dist/
/PVDFboard_2.7.X/nbproject/Makefile-*
/PVDFboard_2.7.X/nbproject/Package-*
/PVDFboard_2.7.X/nbproject/private/


# more unnecessary files
*.log
*.log.inx
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map